.product {
  .product-title {
    font-weight: bold;
    font-size: 16px;
  }

  .products-list {
    border: 1px solid #eaeaea;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 1px 1px 11px -5px;
    overflow: hidden;
    background: #fff;

    th,
    td {
      border: 1px solid #eaeaea;
      border-collapse: collapse;
    }

    thead tr {
      background: #9a9a9a;

      th {
        padding: 10px;
      }
    }

    tbody td {
      padding: 10px;

      button {
        padding: 0px 10px;

        &:first-child {
          margin-right: 10px;
        }

        &:last-child {
          margin-left: 10px;
        }
      }

      input {
        border: none;
        padding: 5px;
        border-radius: 5px;
        width: 30px;
        background: #f9f9f9;
        text-align: center;
      }
    }

    tbody tr:nth-child(2n) {
      background: #f2f2f2;
    }
  }
}